/*!
Theme Name: orangegrove-base
Theme URI: http://underscores.me/
Author: Orange Grove
Author URI: https://www.orangegrovedesigns.co.uk/
Description: Orange Grove Base Theme
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: orangegrove-base
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

orangegrove-base is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Abstracts 
    - Mixins
	- Variables
# Base
	- Typography
	- Elements
	- Links
	- Forms
# Components
	- Navigation
	- Site
# Plugins
	- Gravity forms
# Utilities
	- Accessibility

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Abstracts. Holds mixins & variables
--------------------------------------------------------------*/
@import "abstracts/abstracts";


/*--------------------------------------------------------------
# Base. Styling for HTML elements & typography
--------------------------------------------------------------*/
@import "base/base";

/*--------------------------------------------------------------
# Components. Holds blocks & site components
--------------------------------------------------------------*/
@import "components/components";

/*--------------------------------------------------------------
# Plugins. Plugin specific
--------------------------------------------------------------*/
@import "plugins/gravity-forms/general";
@import "plugins/gravity-forms/confirmation-message";

/*--------------------------------------------------------------
# Utilities. For utilities and misc. items like normalize CSS
--------------------------------------------------------------*/
@import "utilities/accessibility";
@import "utilities/debug";
@import "utilities/box-sizing";
@import "utilities/normalize";