.site-footer {
    background-color: white;

    &__top {
        border-top: 1px black solid;
    }
    &__top-inner {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    &__menu {
        ul {
            @include listUnstyled;
        }
    }

    &__bottom {
        border-top: 1px black solid;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    &__bottom-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        @include bp(sm) {
            flex-direction: row;
        }
    }
    &__accreditation {
        margin-top: 0;
        margin-bottom: 10px;
        @include bp(sm) {
            margin-bottom: 0;
        }
    }
}