.site-header {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}