#page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    .admin-bar & {
        min-height: calc(100vh - 46px);
        @include bp(md) {
            min-height: calc(100vh - 32px);
        }
    }
}
