.gform_wrapper {
    //Invalid submission
    div.gform_validation_errors {
        background: #FAE5E7;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border:none;
        .gform_submission_error  {
            font-size: 16px;
            color: black;
            .gform-icon {
                &::before {
                    content: ' ';
                    background-image: url('/wp-content/themes/orangegrove-base-theme/img/svg/cross.svg');
                    height: 20px;
                    width: 20px;
                }
            }
        }
    }
    //Validation message
    .gfield_validation_message {
        
    }
}