.gform_wrapper.gravity-theme form{

    //Apply global button styling to submit
    input[type="submit"] {
        @include buttonPrimary;
    }


    //Round form inputs
    input[type="text"],
    input[type="email"] {
        // border-radius: 10px;
    }

    textarea {
        // border-radius: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }

    select {
        @include niceSelect();
    }

}