.swiper {
    .swiper-pagination.swiper-pagination-bullets {
        position: relative;
        bottom: 0;
        margin-top: 30px;
        margin-bottom: 0;
        pointer-events: all !important;
        .swiper-pagination-bullet {
            width: 20px;
            height: 20px;
            margin-left: 10px;
            margin-right: 10px;
            background-color: red;
            @include bp(md) {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }
}