h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
}

.h1--l {
    font-size: 32px;
    @include bp(sm) {
        font-size: 64px;
    }
}

h1,
.h1 {
    font-size: 28px;
    @include bp(sm) {
        font-size: 50px;
    }
}

h2,
.h2 {
    font-size: 24px;
    @include bp(sm) {
        font-size: 40px;
    }
}

h3,
.h3 {
    font-size: 20px;
    @include bp(sm) {
        font-size: 32px;
    }
}

h4,
.h4 {
    font-size: 18px;
    @include bp(sm) {
        font-size: 24px;
    }
}


body,
button,
input,
select,
optgroup,
textarea {
	font-size: 1rem;
}

p {
	margin-bottom: 1.5em;
	font-size: 16px;
}
.p {
	&--s {
		font-size: 14px;
	}
	&--l {
		font-size: 20px;
	}
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

abbr,
acronym {
	cursor: help;
}

mark,
ins {
	text-decoration: none;
}

big {
	font-size: 125%;
}
