// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

//Breakpoints mixin - see breakpoints.scss for values
@mixin bp($breakpoint) {
	@if map-has-key($breakpoints, $breakpoint) {
		// Prints a media query based on the value
		@media #{inspect(map-get($breakpoints, $breakpoint))} {
			@content;
		}
	}
	// If the key doesn't exist in the map
	@else {
		@warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
		+"Available breakpoints are: #{map-keys($breakpoints)}.";
	}
}

//Default button
@mixin button() {
	border-radius: 8px;
	padding: 10px 20px;
	border: none;
	color: white;
	text-transform: uppercase;
	font-size: 14px;
	transition: background-color .3s;
	cursor: pointer;
	text-decoration: none;
	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

@mixin buttonPrimary() {
	@include button();
	background-color: $color-green;
	&:hover,
	&:focus {
		background-color: #359A79;
	}
}

@mixin buttonSecondary() {
	@include button();
	background-color: $color-blue;
	&:hover,
	&:focus {
		background-color: #3A4E8E;
	}
}

@mixin buttonTertiary() {
	@include button();
	background-color: $color-orange;
	&:hover,
	&:focus {
		background-color: #E27D20;
	}
}

@mixin buttonUnstyled() {
	border: none;
	background-color: unset;
	padding: 0;
}

@mixin listUnstyled() {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

@mixin niceSelect() {
	appearance: none;
	// border-radius: 20px;
	background-image: url('/wp-content/themes/orangegrove-base-theme/img/svg/chevron-down.svg');
	background-repeat: no-repeat;
	background-position: calc(100% - 10px) center;
	padding-left: 10px;
	padding-right: 40px!important;
}