$font_color: black;

.main-navigation {
    display: block;
    width: auto;
    margin-left: auto;

    //Toggle state for mobile menu
    &.toggled {
        #primary-menu {
            @include bp(md-max) {
                right: 0;

            }
        }
    }

    ul {
        @include listUnstyled();
    }

    li {
        position: relative;

        &.open,
        &.focus {
            >ul {
                @include bp(md-max) {
                    left: 0;
                    position: relative;
                    width: 100%;
                    margin-bottom: 20px;
                    margin-top: 10px;
                }
            }

            >.mobile-dropdown-toggle {
                svg {
                    transform: rotate(180deg);
                }
            }
        }

        &:not(.btn) a:not(.btn) {
            display: block;
            text-decoration: none;
            color: black;

            &:visited,
            &:active {
                color: black;
            }
        }

        // &[data-depth="0"] {}

        // &[data-depth="1"] {}
    }

    //Top level 
    ul#primary-menu {
        position: fixed;
        z-index: 9999;
        transition: right 0.3s;
        right: -110vw;
        width: 100%;
        top: 53px; //Set via JS
        background-color: lightpink;
        position: fixed;
        height: 100vh;
        width: 100%;
        z-index: 99;
        overflow-y: auto;
        padding-bottom: 40px;

        @include bp(md) {
            //Unset on mobile
            background-color: white;
            position: relative;
            transition: unset;
            right: 0 !important;
            top: 0 !important;
            max-height: unset !important;
            height: auto;
            width: auto;
            display: flex;
            align-items: center;
            padding-bottom: unset;
            overflow-y: unset;
        }
    }

    //Hide. but allow user to tab in
    ul[data-depth="1"],
    ul[data-depth="2"],
    ul[data-depth="3"] {
        position: absolute;
        top: 100%;
        left: -999em;
        z-index: 99999;
    }

    //Display sub-menus on hover and focus
    li:hover>ul,
    li.focus>ul {
        @include bp(md) {
            left: 0;
            min-width: 255px;
            background-color: white;
            border: 1px $color-grey-4 solid;
            border-radius: 8px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
            display: flex;
            flex-direction: column;

            &[data-depth="1"] {
                left: 50%;
                transform: translateX(-50%);
            }

            &[data-depth="2"],
            &[data-depth="3"] {
                left: 100%;
                transform: none;
                top: 0;
            }
        }
    }

    li:not(.btn) {
        border: 2px yellow solid;

        a {
            border: 1px red solid;
            display: flex !important;
            align-items: center;
            justify-content: space-between;
            padding: 20px 20px;
        }
    }

    .mobile-dropdown-toggle {
        padding: 20px;
        border: 1px solid red;
        position: absolute;
        right: 0;
        top: 0;
    }

    //Make space for toggle
    .menu-item-has-children {
        >a {
            @include bp(md-max) {
                padding-right: 70px !important;
            }
        }
    }
}


.menu-toggle {
    width: 28px;
    height: 21px;
    position: relative;
    background: none;
    border: none;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;

    @include bp(md) {
        display: none;
    }
}

.mobile-dropdown-toggle {
    @include bp(md) {
        display: none !important;
    }

    svg {
        @include bp(md-max) {
            transition: .3s transform;
            transform: rotate(0deg);
        }
    }
}

//Burger menu that changes to cross
.menu-toggle {
    span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: #00AEFF;
        border-radius: 0px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;

        &:nth-child(1) {
            top: 0px;
        }

        &:nth-child(2) {
            top: 7px;
        }

        &:nth-child(3) {
            top: 7px;
        }

        &:nth-child(4) {
            top: 14px;
        }
    }

    &[aria-expanded="true"] {
        span:nth-child(1) {
            top: 18px;
            width: 0%;
            left: 50%;
        }

        span:nth-child(2) {
            transform: rotate(45deg);
        }

        span:nth-child(3) {
            transform: rotate(-45deg);
        }

        span:nth-child(4) {
            top: 18px;
            width: 0%;
            left: 50%;
        }
    }
}