

$item_gap : 20px;
$outer_padding: 20px;

.js-accordion {
    //Wraps each header/content panel
    &__item {
        background-color: lightgoldenrodyellow;
        border-radius: 10px;
        margin-bottom: $item_gap;
        &:last-child {
            margin-bottom: 0;
        }
    }

    //Wrapper
    .accordion__title {
        margin-top: 0;
        margin-bottom: 0;
    }

    //Header button
    &__header {
        @include buttonUnstyled;
        text-align: left;
        padding: $outer_padding;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        //Remove pointer events from elements inside header button
        .accordion-header-title,
        .open-close {
            pointer-events: none;
        }

        //Animate chevron
        svg {
            transition: transform .3s;
            min-width: 18px;
            margin-left: 20px
        }
        &[aria-expanded="true"] {
            svg {
                transform: rotate(180deg);
            }
        }
    }

    //Content panel
    &__panel {
        padding: $outer_padding;
        &[aria-hidden=true] {
            display: none;
        }
        & > :first-child {
            margin-top: 0;
        }
        & > :last-child {
            margin-bottom: 0;
        }
    }
}