.hero-banner {
    position: relative;
    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        object-fit: cover;
        object-position: center;
    }
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(255,255,255,.5);
    }

    &__inner {
        position: relative;
        z-index: 2;
        padding-top: 80px;
        padding-bottom: 80px;
        @include bp(lg) {
            padding-top: 120px;
            padding-bottom: 120px;
        }
    }
}
