// Icon/content Panel
.icon-content-panel {
	&__items {
		.swiper {
			&-wrapper {
				@include bp(lg) {
					width: calc(100% + 60px);
					margin: 0 -30px;
					flex-wrap: wrap;

					// Swiper overrides
					height: auto !important;
					transform: none !important;
				}
			}
			&-slide {
				text-align: center;

				@include bp(lg) {
					flex: 0 1 calc(33.3333% - 60px);
					margin: 0 30px 40px 30px;
				}
			}
		}

		&.no-slider {
			.swiper {
				&-wrapper {
					flex-wrap: wrap;
				}
				&-slide {
					flex: 0 1 100%;

					@include bp(lg) {
						flex: 0 1 calc(33.3333% - 60px);
						margin: 0 30px 40px 30px;
					}
				}
			}
		}
	}

	&__controls {
		@include bp(lg) {
			display: none;
		}
	}
}