// Image/content Panel
.image-content-panel {

	&__row {
		margin-bottom: 50px;

		@include bp(lg) {
			min-height: 500px;
			margin-bottom: 0;
			display: flex;
		}

		.container {
			@include bp(lg) {
				display: flex;
				flex-direction: row;
			}
		}

		&.reversed {
			.container {
				@include bp(lg) {
					flex-direction: row-reverse;
				}
			}

			.image-content-panel__content {
				@include bp(lg) {
					padding-left: 0;
				}
			}

			&.bleed {
				.image-content-panel__image {
					img {
						@include bp(lg) {
							left: auto;
							right: 0;
						}
					}
				}
			}
		}

		&.bleed {
			@include bp(lg) {
				position: relative;
			}

			.container {
				@include bp(lg) {
					position: static;
				}
			}

			.image-content-panel__image {
				img {
					@include bp(lg) {
						width: 50%;
						position: absolute;
						top: 0;
						left: 0;
					}
				}
			}
		}
	}

	&__image {
		@include bp(lg) {
			flex: 0 1 50%;
		}

		img {
			@include bp(lg) {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	&__content {
		@include bp(lg) {
			flex: 0 1 50%;
			padding: 50px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
		}
	}
}