.testimonial-slider {
    position: relative;

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: white;
        padding: 30px;
        border-radius: 10px;
    }

    &__item-image {
        margin-bottom: 40px;
    }

    &__item-quote {
        margin-bottom: 40px;
        text-align: center;
    }

    &__item-attribution {
        font-weight: 600;
    }

}