/**
*Put all button styling in mixins/mixins.scss
*/
.btn {
	@include button();

	&--primary {
		@include buttonPrimary();
	}

	&--secondary {
		@include buttonSecondary();
	}

	&--tertiary {
		@include buttonTertiary();

	}

	&--disabled {
		opacity: .5;
		cursor: not-allowed;
	}
}