.container {
    //SM
    padding: 0 10px;
    @include bp(md) {
        padding: 0 15px;
    }
    @include bp(lg) {
        padding: 0 20px;
        max-width: 1000px;
        margin: 0 auto;
    }
    @include bp(xlg) {
        padding: 0 20px;
        max-width: 1400px;
        margin: 0 auto;
    }
}
