$color__background-body: lightblue;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

//Custom 

$color-green: #3DB28C;
$color-red: #D0011B;
$color-yellow: #FFD400;
$color-opacity-green: rgba(61, 178, 140, .3);
$color-opacity-blue: rgba(71, 93, 167, 0.3);
$color-blue: #475DA7;
$color-light-blue: #4D95E9;
$color-dark-blue: #29235C;
$color-orange: #F98E2B;

$color-grey-1: #3C3C3B;
$color-grey-2: #9D9D9D;
$color-grey-3: #CECECE;
$color-grey-4: #EAE8E6;

